body {
    background-color: #f0f0f0;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: rgb(251, 249, 255);
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(178, 171, 229, 0.88);
}

.sign {
    padding-top: 20px;
    color: #2c3eaa;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un, .pass{
    width: 76%;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(93, 242, 8, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 10px;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}
.label {
    display: block;
    margin-bottom: 5px;
    color: #350ba0;
    border: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, rgba(76, 146, 224, 0.88), #241afb);
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

@media (max-width: 600px) {
    .main {
        border-radius: 0;
    }
}